html, body {
			margin: 0;
			height: 100%;
			width: 100%;
}
#wrapper {
	position:relative;
	width: 100%;
	height: 100%;
}
.header {
	height: 40px;
}
.navigation {
	float: left;
	width: 110px;
	height: calc(100% - 40px);
	overflow: hidden;
}
.content {
	float: left;
	padding: 1%;
	width: calc(100% - 110px);
	height: calc(100% - 40px);
}