html, body {
	margin: 0;
	height: 100%;
	width: 100%;
}
#header {
	position: relative;
    z-index: 99;
	height: 30px;
	box-shadow: 0 2px 3px #CCCCCC;
}
#navigation {
	position: relative;
	z-index: 999;
	float:left;
	/* width: 50px; */
	height: calc(100% - 30px);
	overflow: hidden;
}
.content {
	display: grid;
	padding: 10px;
	gap: 10px;
	float: left;
	width: calc(100% - 50px);
	height: calc(100% - 30px);
	background-color: #EFF1F5;
	overflow-y: auto;
	overflow-x: none;
}
.item {
	background-color: white;
	/* overflow-y: auto;
	overflow-x: none; */
}
h5 {
	padding: 5px;
	background-color: #092843;
/* 	background-color: #265077; */
/* 	background-color: #3F5060; */
	color: white;
	font-weight: bold;
	width: 100%;
}
table {
	border-collapse: collapse;
	width: calc(100% - 20px);
	margin: 0 auto;
}
tr {
	height: 40px;
	text-align: center;
}
th {
	height: 50px;
	background-color: #D1D7E0;
/* 	background-color: #C6C9E0; */
}
td {
	border-bottom: 1px solid #ddd;
}
.line-table th {
	background-color: white;
	width: 50px;
}
/* 드랍다운 css */
.dropdown {
	  display: inline-block;
	  position: relative;
}
.dropdown-content {
  display: none;
  position: absolute;
  width: 100%;
  overflow: auto;
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a {
  display: block;
  color: #000000;
  padding: 5px;
  text-decoration: none;
}
.dropdown-content a:hover {
  color: #FFFFFF;
  background-color: #00A4BD;
}