html, body {
	margin: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
}
#header {
	height: 40px;
	font-family: Helvectica;
}
#navigation {
	float:left;
	width: 110px;
	height: calc(100% - 40px);
	overflow: hidden;
	font-family: Helvectica;
}
.content {
	float:left;
	padding: 1%;
	width: calc(100% - 110px);
	height: calc(100% - 40px);
	font-family: Helvectica;
}
/* 드랍다운 css */
.dropdown {
		  display: inline-block;
		  position: relative;
		}
		.dropdown-content {
		  display: none;
		  position: absolute;
		  width: 100%;
		  overflow: auto;
		  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
		}
		.dropdown:hover .dropdown-content {
		  display: block;
		}
		.dropdown-content a {
		  display: block;
		  color: #000000;
		  padding: 5px;
		  text-decoration: none;
		}
		.dropdown-content a:hover {
		  color: #FFFFFF;
		  background-color: #00A4BD;
		}